<ul class="social">
  <li class="social__item">
    <a href="" class="social__link" traget="_blank">
      <svg>
        <use xlink:href="assets/img/sprite.svg#vk-brands"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a href="" class="social__link" traget="_blank">
      <svg>
        <use xlink:href="assets/img/sprite.svg#instagram-brands"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a href="" class="social__link" traget="_blank">
      <svg>
        <use xlink:href="assets/img/sprite.svg#facebook-f-brands"></use>
      </svg>
    </a>
  </li>
</ul>
